.square {
  background-color: red;
  width:250px;
  height:250px;
  text-align: center;
  color:black;
}
 

.square2 {
  background-color:black;
  width:250px;
  height:250px;
  color:orange;
  text-align: center;
 
}

