body {
  background-color: #252525;
}
.square {
  background-color: red;
  width:250px;
  height:250px; 
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.square h1 {
  color:white;
}


.square2 {
  background-color:black;
  width:250px;
  height:250px;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
 }
.square2 h1 {
  color: white;
  
}






  