body {
  background-color: #252525;
}
.square {
  background-color: red;
  width:250px;
  height:250px; 
  text-align: center;
}
.square h1 {
  color:white;
}
.square h2 {
  color: red;
}

.square2 {
  background-color:black;
  width:250px;
  height:250px;
  text-align: center;
}
.square2 h2 {
  color: black;
}
.square2 h1 {
  color: white;
}






  